node_modules
vendor
.git
.github
.env
.env.example
.editorconfig
.gitignore
.gitattributes
docker-compose.yml
.idea
.vscode
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!storage/app/.gitignore
!storage/app/public/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!bootstrap/cache/.gitignore
tests
phpunit.xml
.phpunit.result.cache
README.md
